.feynman__link {
    color: #2f80ed;
    text-decoration: none;
    position: absolute;
    right: 48px;
    top: 50%;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
}

.feynman__link:hover {
    opacity: 50%;
    transition: opacity 0.5s linear 0.5s;
}